# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
env/
venv/

# Enviroment & secrets
.env
.env.*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Byte-compiled / cache 
.pytest_cache/
.coverage
htmlcov/

# Migrations/build (add later as needed)
dist/
build/